.capsule-help-text {

}

.capsule-target {
    background: rgba(182, 244, 66, .75);
    outline: .5rem solid rgba(182, 244, 66, .75);
}

.capsule-hover {
    background: rgba(182, 244, 66, .5);
    outline: .5rem solid rgba(182, 244, 66, .5);
}

.capsule-close-button:before,
a.capsule-close-button:before {
    position: absolute;
    top: 1rem;
    right: 1rem;
    content: 'x';
    color: #fff;
    font-weight: 300;
    font-family: Arial, sans-serif;
    background: black;
    width: 1.5rem;
    height: 1.5rem;
    line-height: 1.5rem;
    display: block;
    text-align: center;
    border-radius: 100%;
}
